html {
  box-sizing: border-box;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header, footer {
  background-color: #ffe500;
  width: 100%;
}

header {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Sigmar One", cursive;
  color: #b20953;
  text-align: center;
  font-size: 3rem;
  margin: 0 0 .2em;
  padding: 0;
}

nav {
  padding: 0 0 .4em;
  margin: 0;
}

nav ul {
  text-align: center;
  margin: 0;
  padding: 0;
}

nav li {
  list-style-type: none;
  display: inline-block;
}

a {
  display: inline-block;
  font-family: Georgia, serif;
  text-decoration: none;
  font-size: 1.125rem;
  color: #fff;
  background-color: #b2a212;
  border-radius: 4px;
  padding: .2em .5em .3em;
  margin-bottom: .3em;
}

a:hover {
  color: #fff;
  background-color: #cc1465;
}

.current {
  background-color: #b20953;
}

main {
  padding: 0 10px;
}

h2 {
  font-family: "Sigmar One", cursive;
  font-size: 1.875rem;
  color: #b20953;
}

img {
  width: 100%;
  display: block;
  padding: 0;
}

p {
  font-family: Georgia;
  color: #2f2d13;
}

footer {
  text-align: center;
  font-family: Georgia;
  padding: 10px;
  margin: 0;
}
